
.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:{
  align-items:'flex-start'
}
.MuiDataGrid-root .MuiDataGrid-columnHeaderWrapper{
  background-color: #3f51b51f;
}
